@{
    ViewBag.Title = "Diagnosoft Hello World";
}

<h2>Hello Mr. Chip,</h2>

<p >
    <img alt="" src="http://cmgtcontent.ahold.com.kpnis.nl/cmgtcontent/media//000570600/000/000570604_001_705462_1000.jpg " /></p>


    <p>This paragraph sucks and shouldn't be here</p>